<div class="col-sm-12" id="aboutMe" style="text-align: right">

  <img src="../app/assets/aboutMe.png" id="aboutMePhoto">
  <label id="abouts"> About Me </label>
</div>
<hr id="horizontalBar">
<div class="aboutMeContent">
  <p style="width: 95%">{{aboutMeList}}</p>
</div>
<!-- <div *ngFor="let about of aboutMeList">
  {{about}}
</div> -->
<hr id="horizontalBar" style="margin-top: 3em">
<div class="col-sm-12" id="aboutMe" style="text-align: right; margin-top: -0.5em">
  <img src="../app/assets/careerObjective.png" id="aboutMePhoto">
  <label id="careerObjective"> Career Objective </label>
</div>
<hr id="horizontalBar">
<div class="aboutMeContent">
    <p style="width: 95%">{{careerObjective}}</p>
  </div>
  