<div class="col-sm-12" id="projects" style="text-align: right">
  <img src="../app/assets/projects.png" id="projectsPhoto">
  <label id="projectsLabel"> Professional Summary </label>
</div>
<hr id="horizontalBar">

<div class="col-sm-12">
  <div class="col-sm-12">
      <label style="float: left; font-family: cursive; font-size: 30px;">Genesys Telecom Labs India Pvt.Ltd</label>
      <label style="float: right; font-family: Arial, Helvetica, sans-serif ; font-size: 25px;">Dec 2017 - Present</label>
      <hr style="width: inherit; float: right;" id="horizontalLine">
  </div>
  <div style="float: left;">
    <table>
      <tr>
        <td>Project: &nbsp;</td>
        <td>Maria Anders</td>
      </tr>
      <tr>
        <td style="width: 200px;">Project Description: </td>
        <td></td>
      </tr>
      <tr>
        <td>Role:</td>
        <td>Roland Mendel</td>
      </tr>
      <tr>
        <td style="width: 200px;">Responsiblites:</td>
        <td>Helen Bennett</td>
      </tr>
    </table>
</div>
</div>